@media screen and (max-width: 768px) {
  .register-qr {
    display: grid;
    grid-template-columns: auto;
    margin-right: 20px!important;
  }

  .container-register {
    margin-top: 100px!important;
  }

  .qr-code {
    display: block;
  }
  .contenedor-register-movil {
    display: block!important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .register-qr {
    display: grid;
  }

  .contenedor-register-movil {
    display: block!important;
  }
} 