#root {
  font-family: 'Oxygen', sans-serif;
  height: 100vh;
  background: linear-gradient(180deg, #ffffff, #fefefe);
}

#root * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root a,
li {
  text-decoration: none;
  list-style: none;
  color: black;
}
